body {
    padding-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

input {
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

div.wrapper {
    text-align: center;
    margin: 0em auto;
}

img.logo {
    width: 250px;
}

